<h2>Iniciar sesión</h2>

<br>
<form [formGroup]="formularioInicioSesion" (ngSubmit)="formularioEnviado()">

    <label>Introduzca el correo o el código de usuario</label>
    <br>
    <input formControlName="nombre">
    <br>

    <label>Introduzca la contraseña</label>
    <br>
    <input formControlName="contrasenya">
    <br>

    <button [disabled]="excesoIntentos || contrasenyaCaducada">Iniciar sesión</button>

</form> 

<p *ngIf="nombreVacio">Introduzca un correo o un código de empleado.</p>
<p *ngIf="contrasenyaVacia">Introduzca una contraseña.</p>
<p *ngIf="contrasenyaCaducada">Contraseña caducada.</p>
<p *ngIf="inicioSesionIncorrecto">Correo, código de empleado o contraseña incorrectos.</p>
<p *ngIf="usuarioInactivo">Usuario inactivo.</p>
<p *ngIf="inicioSesionIncorrecto">Intentos restantes: {{numeroIntentos}}</p>
<p *ngIf="excesoIntentos">Excedido el número de intentos, intente de nuevo más tarde.</p>

<a routerLink="/restablecer">Restablecer contraseña</a>



